<div class="h-screen">
  <nav class="border-b-2 p-2 flex items-center">
    <a class="m-2 underline antialiased text-4xl tracking-widest text-blue-700" routerLink="/"
      >
      
      f<img src="./assets/svgs/seal.svg" alt="focker logo" class="inline">cker

      </a
    >
    <a
      class="m-2 rounded ml-auto border p-2 text-white bg-indigo-500 shadow hover:bg-indigo-600 active:bg-indigo-500"
      routerLink="/register-account"
      >Register new account</a
    >
    <a
      class="m-2 rounded border p-2 shadow hover:bg-gray-100 active:bg-white"
      routerLink="/login"
      >Sign in</a
    >
    <a
      class="m-2 p-2"
      target="_blank"
      href="https://github.com/arturgawlik"
      ><fa-icon [icon]="faGithub" size="lg"></fa-icon>
    </a>
  </nav>

  <main class="m-5"></main>

  <footer class="text-center m-5 absolute inset-x-0 bottom-0">focker.</footer>
</div>
