<div class="h-screen flex flex-col">
  <div class="border-b-2">
    <nav class="mx-auto p-2 flex items-center flex-grow-0 max-w-screen-2xl">
      <a
        class="m-2 underline antialiased text-4xl tracking-widest  p-1 "
        routerLink="/"
      >
        focker
      </a>
      <a
        class="m-2 rounded-md ml-auto border border-black p-2 bg-green-200 custom-shadow hover:bg-green-300 active:bg-green-400"
        routerLink="/register-new-account"
        >Register new account</a
      >
      <a
        class="m-2 rounded-md border border-black p-2 custom-shadow hover:bg-gray-100 active:bg-white"
        routerLink="/sign-in"
        >Sign in</a
      >
      <a
        class="m-2 p-2 text-gray-400 hover:text-gray-800"
        target="_blank"
        href="https://github.com/arturgawlik"
        ><fa-icon [icon]="faGithub" size="lg"></fa-icon>
      </a>
    </nav>
  </div>

  <div class="bg bg-gray-100 flex-grow flex ">
    <div class="max-w-screen-2xl flex flex-col flex-grow mx-auto">
      <main class="flex flex-col my-auto mx-5">
        <div class="bg-purple-300 rounded-lg p-4">
          <p class="text-4xl">What is focker?</p>
          <p class="mt-3">
            Focker is a platform that will help you manage processes on your machine. It's a very primitive version of docker - without any process isolation.
          </p>
        </div>
        <div class="bg-yellow-200 rounded-lg p-4 mt-10">
          <p class="text-4xl">How make it work?</p>
          <ul class="list-disc pl-5 mt-3">
            <li class="m-2"><a class="rounded-md border border-black p-1 bg-gray-100 cursor-pointer">download</a> and install desktop client.</li>
            <li class="m-2">
              <a class="rounded-md border border-black p-1 bg-gray-100 cursor-pointer">login</a> to platform panel (or <a class="rounded-md border border-black p-1 bg-gray-100 cursor-pointer">register a new account</a> - if you didn't do it yet).
            </li>
            <li class="m-2">configure application instance through panel or CLI.</li>
          </ul>
        </div>

      </main>

      <footer class="text-center m-5 inset-x-0 bottom-0">focker</footer>
    </div>
  </div>
</div>
